@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Tac+One&display=swap');
:root {
    --primary-color: #060d41;
    --secondary-color: #3653B1;
    --accent1-color: #11270B;
    --accent2-color: #170F11;

    --heading-font: 'Tac One',serif;
    --paragraph-font: 'Istok Web',serif;

    --nav-background-color: #060d41;
    --nav-link-color: #365381;
    --nav-hover-link-color: #11270B;
    --nav-hover-background-color: #060d41;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 25px;
    background-color:#11270B;
    color:antiquewhite;
}
.sociallinks {
    text-decoration: none;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px var(--accent2-color);
    max-width: 1000px;
}
nav {
    text-align: right;
}
.navigation {
    display: flex;
    list-style: none;
}
.navigation li {
    flex: 1 1 100%;
}
.navigation a {
    display: block;
    color: var(--accent1-color);
    padding: 20px;
    text-decoration: none;
}
.navigation a:hover {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
}
.histories {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px var(--accent2-color);
}
.hh {
    grid-column: 3;
}
.hp {
    grid-column: 2/5;
    grid-row: 2/3;
}
.adventure {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.awaits {
    grid-column: 1/6;
    align-items: center;
}
.a1, .a2, .a3, .a4, .a5 {
    grid-row: 2
}
.foot {
    display: grid;
    grid-template-columns: 1fr 200px 20px 20px 20px;
    column-gap: 5px;
    align-items: center;
    justify-items: center
}
.hero {
    position: relative;
}
.hero img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
}
.hero article img {
    width: 200px;
    height: auto;
    float: right
}
.stats {
	position: absolute;
	bottom: 25px;
	left: 15px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
}
.hero h1 {
    width: 100%;
    position: absolute;
    top: 25px;
    left:0; 
    background-color: #11270B;
    text-align: center;
}
.hero article {
    position: absolute;
}
.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.huzah {
    grid-column: 1/6;
    align-items: center;
    align-content: space-around;
}
h1 {
    text-align: center;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid #333;
    padding: 1rem;
    width: 200px;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input [type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
    max-width: 300px;
}
button:hover {
    background-color: darkgreen;
}
footer {
    margin: 1rem auto 0;
    width: 640px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc
}
.form-item {
    display: grid;
    align-items: center;
    width: 600px;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
.recreation {
    display: flex;
    flex-flow: column;
    align-items: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}